[
  { erlrrd,
    [
      { cache,
        [ { write_timeout, 3600 },
          { flush_timeout, 7200 },
          { group, "apache" },
          { listen, "unix:tmp/var/run/mondemand/rrdcached.sock" },
          { pidfile, "tmp/var/run/mondemand/rrdcached.pid" },
          { base_dir, "/home/molinaro/projects/thirdparty/erlrrd/tmp/var/run/mondemand/data" }
         ]
       }
     ]
  }
].
